<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT POKEMON</title>
</head>
<body>
    <h1>EDIT POKEMON</h1>
    
    <form action="/pokemon/<%=index%>?_method=PUT" method="POST">
        <img src="http://img.pokemondb.net/artwork/bulbasaur.jpg">
        <input type="text" name="name" value="<%=pokemon.name%>" placeholder="Name">
        <input type="text" name="type" value="<%=pokemon.type%>" placeholder="type">
        <input type="text" name="stats" value="<%=pokemon.stats.hp%>" placeholder="type">
        <input type="text" name="stats" value="<%=pokemon.stats.attack%>" placeholder="type">
        <input type="text" name="stats" value="<%=pokemon.stats.defense%>" placeholder="type"><br>

        <input type="submit" value="Submit Changes">
    </form>
</body>
</html>