<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <script src="https://kit.fontawesome.com/c755409422.js" crossorigin="anonymous">
        alert('hello')
    </script>
</head>
<body>
    <header>
        <h1>POKEMON DEX</h1>
        <a href="/pokemon/new"><button>Create New POKEMON</button></a>
    </header>
    
    <div class="container">
       
        <!-- for loop--------------------------------------------->
       
        <% for(let i = 0; i < pokemon.length; i++){ %>
          <div class="card">
            
            <!-- create a show page for each pokemon with entire object displayed -->
            <a href="/pokemon/<%=i%>"> <img src=<%= pokemon[i].img  %>></a>
            
            <div class="cardText">

                <a href="/pokemon/<%=i%>"><h3><%= pokemon[i].name; %></h3></a>
                
                <div class="buttons">
                    <!-- Delete button -->
                    <form action="/pokemon/<%=i; %>?_method=DELETE" method="POST">
                        
                        <button class="buttonSize"><input type="submit" value="DELETE" class="deleteInput"></button>
                    </form>
            
                    <!-- edit button -->
                    <button class="buttonSize"><a href="/pokemon/<%=i; %>/edit">Edit</a></button>
                </div>
             </div>
        </div>
        <%  } %>
        
        <!-- end of card -->
    </div>
</body>
</html>